aside {
    background: peachpuff;
    border: 2px solid;
    padding: 16px;
}

article a {
    color: deeppink;
    text-decoration: none;
}

aside a {
    color: black;
    text-decoration: underline;
}

aside a:hover {
    text-decoration: none;
}

